* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Niramit", sans-serif;
}
.nav ul {
  margin: 0;
}
.nav li {
  display: inline;
}
.nav a {
  padding: 0.5em;
  color: black;
  text-decoration: none;
  display: inline-block;
}
.nav a:hover {
  background-color: rgb(255, 255, 255, 0.3);
}
.main-header {
  background-image: url("images/banners.png");
  background-size: cover;
  background-color: aliceblue;
  background-blend-mode: multiply;
  padding-bottom: 30px;
}
.main-nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid #000;
}
.main-nav li {
  padding: 0 5%;
}
.band-name {
  text-align: center;
  margin: 0;
  font-size: 4em;
  color: #fff;
  font-weight: normal;
}
.band-name-large {
  font-size: 9em;
}
.content-section {
  margin: 1em;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}
.section-header {
  font-weight: normal;
  text-align: center;
  font-size: 2.5em;
}
.about-band-image {
  float: left;
  height: 200px;
  width: 200px;
  margin: 15px;
  border-radius: 50%;
}
.main-footer {
  background-color: #56ccf2;
  color: #fff;
  padding: 0.25em 0;
}
.main-footer-container {
  display: flex;
  align-items: center;
}
.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}
.footer-nav li {
  padding: 0 0.5em;
}
.footer-nav img {
  width: 30px;
  height: 30px;
}
.btn {
  text-align: center;
  vertical-align: middle;
  padding: 0.67em;
  cursor: pointer;
}
.btn-header {
  margin: 0.5em 15% 2em 15%;
  color: #fff;
  border: 2px solid #2d9cdb;
  background-color: #000;
  border-radius: 0;
  font-size: 1.5em;
  font-weight: lighter;
  padding-left: 2em;
  padding-right: 2em;
}
.btn-header:hover {
  background-color: #fff;
  color: #000;
}
.btn-play {
  margin: 0 auto;
  display: block;
  columns: #2d9cd2;
  font-size: 4em;
  border-radius: 50%;
  padding: 0;
  width: 100px;
  height: 100px;
}
.tour-row {
  border-bottom: 1px solid #000;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
.tour-row:last-child {
  border-bottom: none;
}
.tour-item {
  padding-right: 0.5em;
  display: inline-block;
}

.tour-date {
  color: #555;
  font-weight: bold;
  width: 11%;
}
.tour-city {
  width: 24%;
}

.tour-arena {
  width: 42%;
}

.tour-btn {
  max-width: 19%;
}
.btn-primary {
  color: #fff;
  background-color: #56ccf2;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #2d9cdb;
}
.album-header {
  max-width: 500px;
}
.text-format {
  font-size: 22px;
}
.shop-item {
  margin: 30px;
}
.shop-item-title {
  display: block;
}
.shop-item-titles {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: #333;
  margin-bottom: 15p;
}
.shop-item-image {
  height: 250px;
  width: 280px;
}
.shop-item-details {
  display: flex;
  align-items: center;
  padding: 5px;
}
.shop-item-price {
  flex-grow: 1;
  color: #333;
}
.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
